.drop-area {
  width: 100%;
  padding: 15px;
  border: 1px solid rgb(208, 208, 208);
  min-height: 100px;
  border-radius: 10px;
  margin-bottom: 14px;
  opacity: 1;
  transition: all ease-in-out 0.2s;
}

.hide-area {
 opacity: 0;
 padding: 0;
 margin: 0;
}
